{% if config.BSK_TEMPLATES.site_favicon == 'default' %}
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.web.bas.ac.uk/bas-style-kit/{{ config.BSK_TEMPLATES.bsk_version }}/img/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.web.bas.ac.uk/bas-style-kit/{{ config.BSK_TEMPLATES.bsk_version }}/img/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.web.bas.ac.uk/bas-style-kit/{{ config.BSK_TEMPLATES.bsk_version }}/img/favicon/favicon-16x16.png" />
    <link rel="manifest" href="https://cdn.web.bas.ac.uk/bas-style-kit/{{ config.BSK_TEMPLATES.bsk_version }}/img/favicon/site.webmanifest" />
    <link rel="mask-icon" href="https://cdn.web.bas.ac.uk/bas-style-kit/{{ config.BSK_TEMPLATES.bsk_version }}/img/favicon/safari-pinned-tab.svg" color="#222222" />
    <link rel="shortcut icon" href="https://cdn.web.bas.ac.uk/bas-style-kit/{{ config.BSK_TEMPLATES.bsk_version }}/img/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#222222" />
    <meta name="msapplication-config" content="https://cdn.web.bas.ac.uk/bas-style-kit/{{ config.BSK_TEMPLATES.bsk_version }}/img/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#222222" />
{% endif %}
