<header class="site-header">
    {% include 'bas_style_kit/includes/bsk--header--cookie-notice.j2' %}
    {% include 'bas_style_kit/includes/bsk--header--site-navigation.j2' %}
    {% include 'bas_style_kit/includes/bsk--header--site-development-phase.j2' %}
</header>
