<div class="bsk-footer-policy-links">
    <ul class="bsk-list-inline">
        <li><a href="{{ config.BSK_TEMPLATES.bsk_site_footer_policies_cookies_href }}">Cookies</a></li>
        <li><a href="{{ config.BSK_TEMPLATES.bsk_site_footer_policies_copyright_href }}">Copyright</a></li>
        <li><a href="{{ config.BSK_TEMPLATES.bsk_site_footer_policies_privacy_href }}">Privacy</a></li>
    </ul>
    <script>document.write(new Date().getFullYear().toString())</script> British Antarctic Survey
</div>
