{% if config.BSK_TEMPLATES.bsk_site_development_phase != 'live-stable' %}
    <div class="{{ content_classes }}">
        {% if config.BSK_TEMPLATES.bsk_site_development_phase == 'experimental' %}
            <span class="bsk-text-uppercase bsk-label bsk-label-{{ config.BSK_TEMPLATES.bsk_site_development_phase }}">{{ config.BSK_TEMPLATES.bsk_site_development_phase }}</span>
            This website is used for testing, your <a href="{{ config.BSK_TEMPLATES.bsk_site_feedback_href }}">feedback</a> will help us to improve it.
        {% elif config.BSK_TEMPLATES.bsk_site_development_phase == 'custom' %}
            <span class="bsk-text-uppercase bsk-label {{ config.BSK_TEMPLATES.bsk_site_development_phase_custom.label_classes | join(' ') }}">{{ config.BSK_TEMPLATES.bsk_site_development_phase_custom.label_text }}</span>
            {{ config.BSK_TEMPLATES.bsk_site_development_phase_custom.message_text }}
        {% else %}
            <span class="bsk-text-uppercase bsk-label bsk-label-phase-{{ config.BSK_TEMPLATES.bsk_site_development_phase }}">{{ config.BSK_TEMPLATES.bsk_site_development_phase }}</span>
            This is a new website, your <a href="{{ config.BSK_TEMPLATES.bsk_site_feedback_href }}" target="_blank">feedback</a> will help us to improve it.
        {% endif %}
        <hr class="bsk-hr-dashed" />
    </div>
{% endif %}
