<footer class="site-footer">
    <div class="bsk-footer bsk-footer-default">
        <div class="{{ content_classes }}">
            <div class="bsk-footer-is-something-wrong">
                <a href="{{ config.bsk_templates.bsk_site_feedback_href }}">Is something wrong with this page?</a>
            </div>
            <div class="bsk-footer-back-to-top">
                <a href="#{{ config.bsk_templates.bsk_site_back_to_top_target_id }}">Back to top</a>
            </div>
            <div class="bsk-footer-divider" role="separator"></div>
            <div class="bsk-footer-governance">
                The <a href="https://www.bas.ac.uk">British Antarctic Survey] (BAS)</a> is part of <a href="https://www.ukri.org">UK Research and Innovation</a> (UKRI)
                <div class="bsk-footer-ogl">
                    <div class="bsk-ogl-symbol"><a href="{{ config.bsk_templates.bsk_site_footer_ogl_symbol_a_href }}" rel="license"><span class="bsk-ogl-symbol">Open Government Licence</span></a></div>
                    All content is available under the <a href="{{ config.bsk_templates.bsk_site_footer_ogl_text_href }}" rel="license">Open Government Licence</a>, {{ config.bsk_templates.bsk_site_footer_ogl_text_version }} except where otherwise stated
                </div>
            </div>
            <div class="bsk-footer-policy-links">
                <ul class="bsk-list-inline">
                    <li><a href="{{ config.bsk_templates.bsk_site_footer_policies_cookies_href }}">Cookies</a></li>
                    <li><a href="{{ config.bsk_templates.bsk_site_footer_policies_copyright_href }}">Copyright</a></li>
                    <li><a href="{{ config.bsk_templates.bsk_site_footer_policies_privacy_href }}">Privacy</a></li>
                </ul>
                <script>document.write(new Date().getFullYear().toString())</script> British Antarctic Survey
            </div>
        </div>
    </div>
</footer>
