<!-- Recommended meta tags for SEO -->
{% block title %}
    <title>{{ config.BSK_TEMPLATES.site_title }}</title>
{% endblock %}
{% block description %}
    <meta name="description" content="{{ config.BSK_TEMPLATES.site_description }}" />
{% endblock %}
