{% extends 'bas_style_kit/layouts/bsk_base.j2' %}
{% include 'bas_style_kit/macros/bsk--nav.j2' %}

{% block pre_main_content %}
    {% with content_classes = self.content_classes() %}
        {% include 'bas_style_kit/includes/bsk--body--standard-header.j2' %}
    {% endwith %}
{% endblock %}

{% block main_content_classes %}{{ super() }}{% endblock %}

{% block post_main_content %}
    {% with content_classes = self.content_classes() %}
        <footer class="site-footer">
            <div class="{{ config.BSK_TEMPLATES.bsk_footer_classes | join(' ') }}">
                <div class="{{ content_classes }}">
                    {% include 'bas_style_kit/includes/bsk--footer--is-something-wrong.j2' %}
                    {% include 'bas_style_kit/includes/bsk--footer--back-to-top.j2' %}
                    <div class="bsk-footer-divider" role="separator"></div>
                    {% block footer_content %}{% endblock %}
                    {% include 'bas_style_kit/includes/bsk--footer--governance.j2' %}
                    {% include 'bas_style_kit/includes/bsk--footer--policy-links.j2' %}
                </div>
            </div>
        </footer>
    {% endwith %}
{% endblock %}
