{% extends "bas_style_kit/layouts/bsk_standard.j2" %}
{% block main_content %}
Test content - <a href="/">Back to index</a>
{% endblock %}

{% block footer_content %}
<div>Footer content</div>
<div role="separator" class="bsk-footer-spacer"></div>
{% endblock %}
