{% macro pattern_item_type_header(item_type, item_title) %}
<header class="bsk-page-header bsk-page-header-stacked">
    <h1>
        <small class="bsk-text-capitalize">{{ item_type }}</small>
        <br>
        {{ item_title }}
    </h1>
</header>
{% endmacro %}
