{% extends "bas_style_kit/layouts/bsk_standard.j2" %}
{% block main_content %}
<p>
    Change <samp>123abc</samp> to a random string to ensure proper testing - current value: <code>{{ value }}</code>
    - active_nav_item: <code>{{ active_nav_item }}</code>
</p>
<p><a href="/">Back to index</a></p>
{% endblock %}
