{% extends "bas_style_kit/layouts/bsk_standard.j2" %}

{% block main_content %}
<p>check this page view is logged in Google Analytics under the <a href="https://analytics.google.com/analytics/web/#/report-home/a64130716w188999371p185475480">Style Kit Testbed property</a>.</p>
<p><a href="/">Back to index</a></p>
{% endblock %}
