{# Anchor for back to top links #}
<div id="#{{ config.BSK_TEMPLATES.site_back_to_top_target_id }}"></div>

{# Ensure you add the 'site-content' ID to a suitable element somewhere for this link to work#}
<a class="bsk-sr-only bsk-sr-only-focusable" href="#{{ config.BSK_TEMPLATES.site_main_content_target_id }}">Skip to main content</a>
