<div class="bsk-footer-governance">
    The <a href="https://www.bas.ac.uk">British Antarctic Survey</a> (BAS) is part of <a href="https://www.ukri.org">UK Research and Innovation</a> (UKRI)
    <div class="bsk-footer-ogl">
        <div class="bsk-ogl-symbol"><a href="{{ config.BSK_TEMPLATES.bsk_site_footer_ogl_symbol_a_href }}" rel="license"><span class="bsk-ogl-symbol">Open Government Licence</span></a></div>
        All content is available under the <a href="{{ config.BSK_TEMPLATES.bsk_site_footer_ogl_text_href }}" rel="license">Open Government Licence</a>, {{ config.BSK_TEMPLATES.bsk_site_footer_ogl_text_version }} except where otherwise stated
    </div>
</div>
