{% extends 'bas_style_kit/layouts/bsk_standard.j2' %}

{% block main_content_classes %}{{ super() }} bsk-pattern-problem-with-service{% endblock %}
{% block main_content %}
    <h1 class="bsk-page-header">Sorry, there is a problem with this service</h1>
    <p class="bsk-lead">Please try again later.</p>
    {% block pattern_content %}{% endblock %}
{% endblock %}
