{% extends "bas-style-kit/layouts/blank.j2" %}

{% set variables = {} %}
{% do variables.update({'main_content_classes': []}) %}
{% do variables.update({'site_title': 'site title'}) %}
{% do variables.update({'site_description': 'site description'}) %}
{% do variables.update({'site_favicon_url': 'data:;base64,iVBORw0KGgo='}) %}
{% do variables.update({'site_back_to_top_target_id': 'site-top'}) %}
{% do variables.update({'site_main_content_target_id': 'site-main-content'}) %}
{% do variables.update({'site_styles': []}) %}
{% do variables.update({'site_scripts': []}) %}
{% do variables.update({'site_analytics': []}) %}
{% block content %}

<!DOCTYPE html>
<html lang="en-GB">
    <head>
        {% block head %}
            {% include 'bas-style-kit/includes/head--core-metadata.j2' %}
            {% include 'bas-style-kit/includes/head--seo-metadata.j2' %}
            {% block pre_head_styles %}{% endblock %}
            {% block styles %}
                {% include 'bas-style-kit/includes/head--core-styles.j2' %}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% include 'bas-style-kit/includes/body--back-to-top.j2' %}
            {% block pre_main_content %}{% endblock %}
            {% block main_content_container %}
                <main id="site-main-content" {% if (variables.main_content_classes is defined) and texts %}class="{{ variables.main_content_classes }}"{% endif %}>
                    {% block main_content %}
                    {% endblock %}
                </main>
            {% endblock %}
            {% block post_main_content %}{% endblock %}
            {% block scripts %}
                {% include 'bas-style-kit/includes/body--core-scripts.j2' %}
                {% if variables.site_analytics.id %}
                    {% include 'bas-style-kit/includes/body--analytics-script.j2' %}
                {% endif %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
{% endblock %}
