{% extends 'bas_style_kit/patterns/bsk_start.j2' %}

{% set call_to_action_href = '#' %}
{% set call_to_action_variant = 'sign-in-microsoft' %}

{% block pattern_content_uses %}
    <ul>
        <li>A task</li>
        <li>Another action</li>
    </ul>
{% endblock %}
