{% extends 'bas_style_kit/patterns/bsk_service-unavailable.j2' %}

{% block pattern_content %}
<p>You can use <a href="#">another service</a> to access general or related information.</p>
{% endblock %}
