{% extends 'bas_style_kit/patterns/bsk_service-unavailable.j2' %}

{% set availability = "closed" %}

{% block pattern_content %}
<p>Contact the <a href="mailto:team@example.com">Example team</a> for more information.</p>
{% endblock %}
