{% macro nav_menu(items, classes) -%}
    <ul class="bsk-nav bsk-navbar-nav {{ classes.join(' ') }}">
        {% for item in items %}
            {% if item.items %}
                <li class="bsk-dropdown">
                    <a class="bsk-dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ item.title }}
                        <span class="bsk-caret"></span>
                    </a>
                    <ul class="bsk-dropdown-menu">
                        {% for sub_item in item.items %}
                            <li><a href="{{ sub_item.href }}">{{ sub_item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ item.href }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{%- endmacro %}
